.deals-page{
    padding: 40px;
    background: rgba(0, 0, 0, 0.71);
}

.deals-hero{
    background: linear-gradient(135deg, black, darkgrey);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deals-page h1{
    font-size: 40px;
}

.deals-hero p{
    font-size: 18px;
}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-section{
    padding: 40px;
    background: rgba(255, 255, 255, 0.907);
    text-align: center;
}

.combo-card{
    background: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.837);
    transition: 0.5s;
}

.combo-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 200px;
}

.combo-card h4{
    margin: 10px 0;
}

.combo-card h4 span{
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.combo-card button{
    background: red;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.combo-card button:hover{
    background: rgb(217, 169, 169);
}

.combo-card:hover{
    background: rgb(224, 161, 161);
    transform: translateY(8px);
}