* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

nav {
  padding: 5px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;

  a{
    color: white;
    text-decoration: none;
  }
}

nav a:hover{
  color: red;
}

#login-button{
  background-color: red;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
}

/* Hero Section */
.hero-section{
  height: 90vh;
  background: url(./Images/banner-3.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.hero-content{
  color: white;
  margin-top: 150px;
  text-align: center;
}
#btn-ordernow{
  background-color: red;
  border-radius: 5px;
  padding: 6px;
  color: white;
  margin-top: 10px;
}

/* Login and SignUp Css */

.auth-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, black, rgba(98, 95, 95, 0.895));
  height: 100vh;
}

.auth-box{
  background: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(118, 115, 115, 0.958);
}

.auth-box h2{
  margin-bottom: 20px;
  color: black;

  span{
    color: red;
  }
}

.auth-box input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}

.auth-box input:focus{
  border-color: red;
}

.auth-box button{
  width: 100%;
  padding: 10px;
  background: rgb(209, 22, 22);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.auth-box button:hover{
  background-color: rgb(86, 85, 83);
}

.auth-box p{
  margin-top: 15px;
  font-size: 12px;
}

.auth-box a{
  color: red;
  text-decoration: none;
}


/* FOOTER STYLE */

footer ul{
  display: block;
  list-style: none;
  padding: 0;
}

footer{
  background: black;
  color: white;
  padding: 10px;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.footer-box h3{
  color: white;
  margin-bottom: 10px;
}

.footer-box span{
  color: red;
}

footer a{
  color: white;
  text-decoration: none;
}

.social-icons a:hover{
  background: red;
  color: aliceblue;
}

.footer-bottom{
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgb(88, 79, 79);
  font-size: 14px;
}


/* Menu Button Css */
.menu-btn{
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}



/* Css For Responsive design */

@media(max-width:768px){

  .menu-btn.active{
    display: block;
  }
  header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: black;
  }
  
  .navmenu{
    display: none;
  }

  .navmenu.active{
    display: flex;
    flex-direction: column;
  }

  /* nav{
    flex-direction: column;
    padding: 15px 20px;
    gap: 15px;
  }

  nav img{
    width: 140px;
  }

  nav ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 12px;
  }

  nav ul li{
    width: 100%;
    text-align: center;
  }

  nav ul li a{
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(57, 53, 53);
  } */


  .hero-content{
    height: 70vh;
    text-align: center;
    padding: 20px;
  }

 .hero-content h1{
  font-size: 22px;
 } 

 .hero-content p{
  font-size: 15px;
 }

 .menu-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
 }

 .combo-container{
  display: grid !important;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 10px;
  gap: 20px;
 }

 .category-icons{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px;
 }

 .icon-box{
  min-width: 70px;
 }

 .deals-hero{
  padding: 5px;
  margin: 0;
 }

 .footer-container{
  grid-template-columns: repeat(2,1fr);
  text-align: center;
  font-size: 10px;
 }

}